@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
}

#wingo-chat {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

#wingo-chat code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#wingo-chat textarea {
  border: 0 !important;
  box-shadow: none !important;
}

#wingo-chat input:-webkit-autofill,
#wingo-chat input:-webkit-autofill:hover,
#wingo-chat input:-webkit-autofill:focus,
#wingo-chat input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
